.fc-day-today:not(.fc-col-header-cell),
.fc-list .fc-event-today {
  animation: fadeInFromNone 2s ease-in-out infinite alternate;
}

.fc-daygrid-day-events-mobile-shrink .fc-daygrid-day-events {
  min-height: 0 !important;
}

.fc-daygrid-day-events-mobile-shrink .fc-day-disabled {
  display: none;
}

.fc-header-toolbar .fc-toolbar-chunk:last-of-type button {
  font-weight: 600;
}

.fc-header-toolbar .fc-toolbar-chunk:last-of-type {
  text-align: right;
}

.fc-header-toolbar .fc-toolbar-chunk:last-of-type > * {
  margin-top: 0.25em;
}

.fc-event-time {
  flex-shrink: 0;
}

.ystv-calendar-strike-through .fc-event-title {
  text-decoration: line-through;
}

.ystv-calendar-strike-through .fc-list-event-title {
  text-decoration: line-through;
}

@keyframes fadeInFromNone {
  0% {
    background-color: var(--fc-today-bg-color);
  }

  100% {
    background-color: #3788d850;
  }
}

.fc-view {
  --fc-today-bg-color: #3788d860;
}

.fc-daygrid-day-events-mobile-shrink.fc-dayGridMonth-view
  div[elClasses="fc-daygrid-ystv-spacer"] {
  height: 3rem;
}

.fc-daygrid-day-events-mobile-shrink.fc-daygrid .fc-scrollgrid,
.fc-daygrid-day-events-mobile-shrink.fc-daygrid td[role="presentation"] {
  border: 0;
}

.fc-daygrid-day-events-mobile-shrink.fc-daygrid .fc-scrollgrid table {
  border-style: inherit;
}

/* Any theming inside this will only apply to dark color scheme. */
:is([data-mantine-color-scheme="dark"]) {
  tbody[role="presentation"] > div > tr:not(:first-child),
  .fc-dayGridMonth-view div[elClasses="fc-daygrid-ystv-spacer"] {
    background-color: var(--mantine-color-body);
  }

  th.fc-col-header-cell > div,
  .fc-list-day > th,
  thead > tr[role="row"]:nth-child(1),
  .fc-list-day-cushion,
  .fc-daygrid-body,
  tbody[role="presentation"] > div > tr:first-child > td {
    background-color: var(--mantine-color-default) !important;
  }

  tr.fc-event:hover {
    background-color: #000 !important;
  }
}
